{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Games{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('games.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for game in games %}
    <article class="post">
      <header>
        {% if g.user['id'] == game['player_id'] %}
        <div>
          <h1>{{ game['title'] }}</h1>
          <h1>{{ game['console'] }}</h1>
        </div>
          <a class="action" href="{{ url_for('games.update', id=game['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}